.form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-left: 170px;
    margin-top: 195px;
    padding-top: 20px;
    border: 1px solid #000;
    position: relative;
}

.form .tag{
    color: #fff;
    background-color: #000;
    min-width: 490px;
    font-size: 40px;
    letter-spacing: 25px;
    padding-left: 35px;
    padding-bottom: 10px;
    position: absolute;
    top:-90px;
    left: -45px;
    z-index: 1;


}



.form p{
    justify-content: center;
    margin: 0 auto 15px;
}

.form .subGroup{
    display: flex;
    flex-direction: column;
    
}


.form .subGroup input{
    width: 200px;
    max-width: 200px;
    min-width: 150px;
    border: none;
    height: 25px;
    margin-top: 5px;
    padding-left: 5px;
    border: 1px solid #000

}
.form .subGroup .error{
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    font-size: 10px;
    min-height: 10px;
}

.subGroup .required {
	color: red;
}

.subGroup textarea{
    height: 80px;
    min-width: 200px;
    resize: none;
    margin-top: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid #000


}

.form .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    margin-bottom: 10px;
    width: 80px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
    background-color: #474747;

}

.form .button:hover{
    transform: scale(1.2);

}

@media screen and (max-width:1200px) {
    .form{
        margin-left: 70px;
        margin-top: 195px;
    }
    .form .tag{
        font-size: 35px;
        letter-spacing: 10px;
        padding-right: 10px;
        padding-left: 15px;
        padding-bottom: 10px;

        min-width: 250px;

        top: -80px;
        left: 50px
    }
}

@media screen and (max-width:700px) {
    .form{
        width: 300px;
        min-height: 500px;
        margin:auto;
        margin-top: 195px;

    }
    .form .tag{
        
        width: 300px;
        font-size: 35px;
        letter-spacing: 10px;
        padding: 0;
        padding-left: 15px;
        padding-bottom: 5px;
        top: -80px;
        left: 0px
    }
}

@media screen and (max-height:800px) {
    .subGroup textarea{
        height: 60px;
    
    }

    .form p{
        margin: 0 auto 0px;
    }
}