
.header{
  transition: all 1s;
  position: absolute;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  padding: 5px 5%;
  color: #fff;
  background: none;
}

.scrolled{
  transition: all 2s;
  position: fixed;
  top:0;
  background-color: RGBA(0,0,0,0.40);
  z-index: 2;
  color:#fff;
  backdrop-filter: blur(5px);
}



.header a{
  cursor: pointer;
}

.header .logo{
  cursor: pointer;
  margin-right: auto;
  transition: all 0.3s ease 0s;
  padding: 2px;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.header .logo:hover{
  transform: scale(1.2);
  background-color: #000;
}

.header .navLinks{
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.header .navLinks .down{
  min-height: 50px;
  margin-top: 40px;
  border-left: 1px solid #fff;

}

.header .navLinks .up{
  min-height: 50px;
  margin-bottom: 15px;
  border-left: 1px solid #fff;

}

.header .navLinks li{
  display: inline-block;
  padding: 0 20px;    

  transition: all 0.3s ease 0s;
  letter-spacing: 5px;
}

.header .navLinks li:hover{
    transform: scale(1.2);
}

.header .navLinks a{
  font-size: 700;
  padding: 2px;
}

.header .navLinks a:hover,
.overlay a:hover{
  color: #fff;
  background-color: #000000;
}


.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .order .menu .menuButton{
  margin-left: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 4px 15px 1px;
  background: #eceff1;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
}
.header .btn button:hover,
.header .order .menu .menuButton:hover{
    background-color: #000;
    color: #ffbc0e;
    transform: scale(1.1);
}

.header .order{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .order .languages{
  margin-left: 15px;
}
.header .order .languages .esLanguage,
.header .order .languages .enLanguage{
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 2px 5px;
  text-transform: uppercase;

}

.header .order .languages .esLanguage:hover,
.header .order .languages .enLanguage:hover{
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}
/* .header .order .languages .esLanguage{
 margin-bottom: 2px;
} */

.header .order .menu .menuButton{
  display:none
}
@media screen and (max-width:992px) {
  .header .navLinks li,
  .header .logo{
    letter-spacing: 2px;
  }
}

@media screen and (max-width:700px) {
  .navLinks, .btn{
    display: none
  }
  .header .navLinks{
    display: none;
  }
  .header .order .menu .menuButton {
    display: inherit;
  }
}
.header a {
  text-decoration: none;
}

.header .overlay{
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  background-color: rgb(151, 151, 151);
  overflow: hidden;
  transition: all 0.3s ease 0s
}

.header .overlayContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus{
  color: #ffbc0e;
}

.header .overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height:450px) {
  .header .overlay a{
    font-size: 20px;
  }
  .header .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 35px
  }
}

#mobileMenu{
  width: 100%;
}