.container{
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease ;
    background-color: #c2c2c2;
}
 .container:hover{
    scale: 1.05
 }

 .container .name{
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px
    ;
    margin-bottom: 20px;
 }

 .container .description{
    max-width: 280px;
    white-space: pre-line;
    text-align: center;
 }
