.footer{
    height: 100px;
    color: black;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
  }

  .footer .container{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer .container .icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }