.container{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    background-color: white;
    background-image: url("../../public/projectsBackground.jpeg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 0 0;
    background-attachment: scroll;
    overflow: hidden;
    position: relative;
}

.container .firstContainer{
    min-width:150%;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    transform-origin: center;
    transform:rotate(178deg) translateY(-250px) translateX(100px);

}

.container .secondContainer{
    min-width:150%;
    margin-top: 10px;
    margin-left: 700px;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    transform-origin: center;
    transform:rotate(178deg) translateY(-250px) translateX(100px);
    border-bottom: 1px solid #000;

}

.container .tag{
    position: absolute;
    top: 250px;
    left: 200px;
    text-transform: lowercase;
    color: #fff;
    background-color: #000;
    font-size: 50px;
    letter-spacing: 20px;
    padding-left: 5px;
    padding-bottom: 10px;
    z-index: 1;
}

.container .content{
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 55%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px ;
    margin-right: 20px ;
    padding-left: 30px;
    padding-right: 90px;
    transition: all 0.5s ease ;
    
}
.container .content .project{
    display: flex;
}

.container .content .separator{
    min-height: 200px;
    border-left: 1px solid #000 ;
    margin: auto 30px
}

.arrowLeft, .arrowRight{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.arrow{
    cursor: pointer;
    transition: all 0.5s ease ;
    background-color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow:hover{
    scale:1.4
}
.arrowLeft{
    position:absolute;
    bottom: 0;
    left:0;
    width: 20px;
    height: 55%;
    z-index: 1;
    background-color: RGBA(255,255,255,0.24);
    backdrop-filter: blur(5px);
}

.arrowRight{
    position:absolute;
    bottom: 0;
    right:0;
    width: 20px;
    height: 55%;
    z-index: 1;
    background-color: RGBA(255,255,255,0.24);
    backdrop-filter: blur(5px);
}



@media screen and (max-width:992px) {
    
}

@media screen and (max-width:700px) {
    .container{
        background-size:120%;
        background-position: 0 0;
    }
    .container .tag{
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translate(-50%,0);
        text-transform: lowercase;
        color: #fff;
        background-color: #000;
        font-size: 35px;
        letter-spacing: 10px;
        padding-right: 10px;
        padding-left: 15px;
        padding-bottom: 10px;
        z-index: 1;
    }
}

@media screen and (max-width:450px) {
    .container{
        background-size:150%;
        background-position: 0 0;
    }

    .container .tag{
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translate(-50%,0);
        text-transform: lowercase;
        color: #fff;
        background-color: #000;
        font-size: 30px;
        letter-spacing: 10px;
        padding-right: 10px;
        padding-left: 15px;
        padding-bottom: 10px;
        z-index: 1;
    }
}


@media screen and (min-height:1000px) {

    .modal .forms{
          min-width: 35%;
          transform: skew(-10deg);
    
         
        }
        .modal .forms1{
          min-width: 35%;
          transform: skew(-10deg) translate(-20px);
        }
      
        .modal .forms2{
          min-width: 20%;
         
        }
        
    }

    @media screen and (max-height:650px) {
        .container .tag{

            top: 220px;
            left: 50%;

        }
            
        }