.container{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url('../../public/aboutBackground.jpeg');
    background-repeat: no-repeat;
    background-size:45%;
    background-position: 112% 35%;
    background-attachment: scroll;
    overflow: hidden;
    position: relative;
    
}

.container .firstContainer{
    min-width:80%;
    min-height: 100vh;
    background-color: #fff;
  transform-origin: top right;
  transform: skew(-15deg);

}

.container .firstContainer .secondContainer{
    min-width:90%;
    min-height: 100vh;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #fff;
    border-right: 1px solid #000;
  transform-origin: top right;
  transform: skew(0deg);

}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 60%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 16px;
}

.container .tag{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    right: 15%;
    z-index: 1;
    font-size: 45px;
    min-width: 200px ;
    text-transform: lowercase;
    letter-spacing: 10px;
    color: white;
    background-color: #000000;
    padding-left: 6px;
    
}
.container .content .about .description{
    width: 500px;
    margin-bottom: 50px;
}
.container .content .about .description span{
   font-weight: 900;
}

.container .content .about .skills{
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 14px;
    
}
.container .content .about .skills .skill{
    display: flex;
    
}

.container .content .about .skills .skill .circles{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.container .content .geometry{
    min-width: 200px;
}

.container .content .geometry2{
    display: none;
}

.container .content .geometry .topLine{

    min-height: 138px;
    margin: auto 15px;
    border-top: 1px solid #000;
}



.container .content .geometry .rightLine{
    min-width: 30px;
    min-height: 200px;
    margin: auto 15px;

    border-right: 1px solid #000;
}




@media screen and (max-width:992px) {
    .container{
        background-size: 70%;
        background-position: 140% 40%;
    }
    .container .tag{
        top: 13%;
        right: 18%;
    }
    
    .container .firstContainer{
        min-width:70%;
        transform: skew(-10deg);
    }
    
    .container .firstContainer .secondContainer{
        margin-right: 30px;
    }

    .container .content .geometry{
        display: none;
    }

    .container .content{
        align-items: flex-start;
        margin-top: 150px;
    }
    
    .container .content .about .description{
        max-width: 350px;
        margin-right: 30px;
    }
  }
  @media screen and (min-height:1000px) {
    .container{
        background-size: 110%;
        background-position: -100% 40%;
    }
    .container .tag{
        top: 10%;
        right: 20%;
    }
    .container .content{
        margin-top: 250px;
    }
    .container .content .about .description{
        margin-bottom: 150px;
    }
}


  @media screen and (max-width:700px) {
    .container{
        background-image: none;
    }
   
    
    .container .firstContainer{
        min-width:95%;
        transform: skew(0deg);
    }

    .container .tag{
        top: 12%;
        right:20%;
        font-size: 30px;
        letter-spacing: 7px;
        padding-bottom: 5px;
    }

    .container .content{
        margin-top: 160px;
    }
    
    .container .content .about .description{
        max-width: 60%;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .container .content .about .skills{
        max-width: 370px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
  }


  @media screen and (max-width:470px) {
    .container{
        background-image: none;
    }
   
    
    .container .firstContainer{
        min-width:100%;
        transform: skew(0deg);
    }

    .container .tag{
        top: 12%;
        right:5%;
        font-size: 25px;
        letter-spacing: 3px;
        min-width: 150px;
        padding-bottom: 5px;

    }

    .container .content{
        margin-top: 160px;
    }
    
    .container .content .about .description{
        margin-left: 25px;
        margin-right: 5px;
        margin-bottom: 40px;
    }
    .container .content .about .skills{
        max-width: 370px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width:400px) {
    .container .firstContainer .secondContainer{
        display: none;
    }
  }
  @media screen and (min-height:800px) {

    .container .tag{
        top: 13%;
    }

    
}

@media screen and (max-height:700px) {
    .container{
        min-height: 110vh;
    }
  }